<section class="categories__container">
  <div class="categories__header">
    <div class="rectangle-sales"></div>
    <p class="categories__title quicksand-sm">Categories</p>
  </div>
  <div class="categories__timer">
    <p class="categories__timer-title quicksand-xm bold-font">Browse By Category</p>
    <div class="categories__timer-arrows">
      <button class="categories__timer-arrow-left" (click)="scrollLeft(scroll)">
        <img [src]="'Arrow.svg'" alt="arrow-left">
      </button>
      <button class="categories__timer-arrow-right" (click)="scrollRight(scroll)">
        <img [src]="'Arrow.svg'" alt="arrow-left">
      </button>
    </div>
  </div>
  <div class="categories__content">
    <div class="categories__content__scroll" #scroll>
      <ng-container *ngFor="let category of categoryList">
        <app-category-thumbnail [categoryItem]="category" class="cat_thumbnail"></app-category-thumbnail>
      </ng-container>
    </div>
  </div>
  <div class="categories__view-all">
    <a class="categories__view-all-link quicksand-r unset-button">View All Products</a>
  </div>
  <div class="divider"></div>
</section>
