@use "sass:meta";
:host{
  --drs-bg-color: rgba(43, 61, 151, 1);
  --drs-primary: rgba(60, 78, 165, 1);
  --drs-secondary: rgba(236, 187, 36, 1);
  --drs-white: rgba(249, 249, 249, 1);
  --drs-whatsapp: rgba(37, 211, 102, 1);

  --drs-gradient-first: rgba(241, 241, 241, 0.83);
  --drs-gradient-second: rgba(212, 212, 212, 0.77);
  --drs-gradient-third: rgba(139, 139, 139, 0.6);
  --drs-gradient-footer-first: rgba(60, 78, 165, 0.7);
  --drs-gradient-footer-second: rgba(23, 30, 63, 1);
}

$sizes:(
  'sm':12,
  'm':16,
  'r':18,
  'x':20,
  'xm':24,
  'xxm':32,
);

$gradient-white-colors:(
  'first-place-first-hexa': 241,
  'first-place-second-hexa': 241,
  'first-place-third-hexa': 241,
  'second-place-first-hexa': 212,
  'second-place-second-hexa': 212,
  'second-place-third-hexa': 212,
  'third-place-first-hexa': 139,
  'third-place-second-hexa': 139,
  'third-place-third-hexa': 139,
);

@each $name, $size in $sizes{
  .raleway-#{$name}{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: $size+px;
  }
  .bitter-#{$name}{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: $size+px;
  }
}
@each $name, $color in $gradient-white-colors{
  $drs-gradient: rgba($color, $color, $color, 1);
}

%white-gradient{
  //background-image: linear-gradient(var(--drs-gradient-first), var(--drs-gradient-second), var(--drs-gradient-third));
  //background-color: rgba(0,0,0,0.1);
  //background-size: cover;
  //background-position: center;
  background-image: linear-gradient(rgba(241, 241, 241, 0.83), rgba(212, 212, 212, 0.77), rgba(139, 139, 139, 0.6));
}
%blue-gradient{
  background: linear-gradient(180deg, var(--drs-gradient-footer-primary), var(--drs-gradient-footer-second));
}

.drs-gradient{
  @extend %white-gradient;
};

.drs-gradient-footer{
  @extend %blue-gradient;
};
