<section class="sidebar-categories__container">
  <nav class="sidebar-categories__navigation">
    <ul class="sidebar-categories__navigation__list">
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Woman’s Fashion</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Men’s Fashion</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Electronics</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Home & Lifestyle</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Medicine</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Sports & Outdoor</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Baby’s & Toys</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Groceries & Pets</a>
      </li>
      <li class="sidebar-categories__navigation__list__item">
        <a class="quicksand-m">Health & Beauty</a>
      </li>
    </ul>
  </nav>
</section>
