<section class="flash-sales__container">
  <div class="flash-sales__header">
    <div class="rectangle-sales"></div>
    <p class="flash-sales__title quicksand-sm">{{titleHighlight}}</p>
  </div>
  <div class="flash-sales__timer">
    <p class="flash-sales__timer-title quicksand-xm bold-font">{{titleContainer}}</p>
      <div class="flash-sales__timer-container">
        <ng-container *ngIf="showTimer">
          <div class="flash-sales__timer-item">
            <p class="flash-sales__timer-item-text quicksand-sm">Days</p>
            <p class="flash-sales__timer-item-number quicksand-xxm bold-font">00</p>
          </div>
          <span class="flash-sales__timer-item-double-dot quicksand-xm bold-font">:</span>
          <div class="flash-sales__timer-item">
            <p class="flash-sales__timer-item-text quicksand-sm">Hours</p>
            <p class="flash-sales__timer-item-number quicksand-xxm bold-font">00</p>
          </div>
          <span class="flash-sales__timer-item-double-dot quicksand-xm bold-font">:</span>
          <div class="flash-sales__timer-item">
            <p class="flash-sales__timer-item-text quicksand-sm">Minutes</p>
            <p class="flash-sales__timer-item-number quicksand-xxm bold-font">00</p>
          </div>
          <span class="flash-sales__timer-item-double-dot quicksand-xm bold-font">:</span>
          <div class="flash-sales__timer-item">
            <p class="flash-sales__timer-item-text quicksand-sm">Seconds</p>
            <p class="flash-sales__timer-item-number quicksand-xxm bold-font">00</p>
          </div>
        </ng-container>
      </div>
    <div class="flash-sales__timer-arrows">
      <button class="flash-sales__timer-arrow-left" (click)="scrollLeft(scroll)">
        <img [src]="'Arrow.svg'" alt="arrow-left">
      </button>
      <button class="flash-sales__timer-arrow-right" (click)="scrollRight(scroll)">
        <img [src]="'Arrow.svg'" alt="arrow-left">
      </button>
    </div>
  </div>
  <div class="flash-sales__content">
    <div class="flash-sales__content__scroll" #scroll>
      <app-product-thumbnail></app-product-thumbnail>
      <app-product-thumbnail></app-product-thumbnail>
      <app-product-thumbnail></app-product-thumbnail>
      <app-product-thumbnail></app-product-thumbnail>
      <app-product-thumbnail></app-product-thumbnail>
    </div>
  </div>
  <div class="flash-sales__view-all">
    <a class="flash-sales__view-all-link quicksand-r unset-button">View All Products</a>
  </div>
  <div class="divider"></div>
</section>
