<article class="product-thumbnail__container">
  <div class="product-thumbnail__container__img-content">
    <div class="wrap-thumb">
      <div class="product-thumbnail__container__img-content__discount">
        <div class="discount-box">
          <p class="discount-box__text quicksand-sm">-50%</p>
        </div>
        <div class="product-thumbnail__container__img-content__discount__btns">
          <img [src]="env.IMG_SRC+'WishList.svg'" alt="WishList" class="product-thumbnail__container__img-content__discount__wishlist favorite">
          <img [src]="env.IMG_SRC+'Detail.svg'" alt="Detail" class="product-thumbnail__container__img-content__discount__wishlist detail">
        </div>
      </div>
      <div class="product-thumbnail__container__img-content__detail">
        <div class="product-thumbnail__container__img-content__detail__img">
          <img [src]="env.IMG_SRC+'g92-2-500x500 1.png'" alt="product1">
        </div>
      </div>
    </div>
    <div class="product-thumbnail__container__img-content__cart">
      <p class="product-thumbnail__container__img-content__cart__text quicksand-m">Add to cart</p>
    </div>
  </div>
  <div class="product-thumbnail__container__product-name">
    <p class="product-thumbnail__container__product-name__text quicksand-r">HAVIT HV-G92 Gamepad</p>
  </div>
  <div class="product-thumbnail__container__product-values">
    <div class="product-thumbnail__container__product-values__discount">
      <p class="product-thumbnail__container__product-values__discount__text quicksand-r bold-font">$ 999.00</p>
    </div>
    <div class="product-thumbnail__container__product-values__price">
      <p class="product-thumbnail__container__product-values__price__text quicksand-m">$ 1,999.00</p>
    </div>
  </div>
  <div class="product-thumbnail__container__product-rate">
    <app-rate-star></app-rate-star>
  </div>
</article>

