@import 'variables';
*{
  overflow: hidden;
}

.sidebar-highlights{
  width: 1280px;
  display: flex;
  align-items: center;
  min-height: 316px;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 175px;
}
