.exclusive-home{
  &__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px auto 0;
    width: 1230px;
  }
  &__flash-sales{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
  }
}
