<div class="rate-star-container">
  <div class="rate-star-container__stars">
    <ul>
      <li>
        <img src="exclusive-angular/Full-Rate.svg" alt="star" class="rate-star-container__stars__star">
      </li>
      <li>
        <img src="exclusive-angular/Full-Rate.svg" alt="star" class="rate-star-container__stars__star">
      </li>
      <li>
        <img src="exclusive-angular/Full-Rate.svg" alt="star" class="rate-star-container__stars__star">
      </li>
      <li>
        <img src="exclusive-angular/Full-Rate.svg" alt="star" class="rate-star-container__stars__star">
      </li>
      <li>
        <img src="exclusive-angular/Full-Rate.svg" alt="star" class="rate-star-container__stars__star">
      </li>
    </ul>
  </div>
  <div class="rate-star-container__reviews">
    <p class="rate-star-container__reviews__text quicksand-sm">(98)</p>
  </div>
</div>
